*{
    margin:0px;
    padding:px;
    box-sizing: border-box;
letter-spacing: normal;
line-height: normal;
font-family: 'Open Sans', sans-serif;


}

.container1{
    background:url('2057227.jpg');
    color:white;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width:100%;
    
 
}
.container1 h2 {
    font-size: 2rem;
    position: relative;
    top:1.5rem;
    font-weight: 100;
    padding:0rem 1rem;
    float: left;

    width:70%;
    position: relative;
   
}
.container1 h2 span{
    color:rgb(31, 112, 218);
}
.container1 p{
    float: left;
    width:70%;
  margin-bottom: -1rem;
  position: relative;
    top:1.5rem;
    font-size: 0.88rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  
    position: relative;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:center;
    
    width:100%;
    background:url(white.jpg);
    height:auto;
    margin-top: -3.26rem;
}

.list {
    display: flex;
    width:100%;
margin:auto;
position: relative;
top:-4.2rem;
    background-color:rgb(31, 112, 218);
}
.list ul {
    display: flex;
  
}.list ul li {
    list-style: none;
padding:1rem 1rem;
}
.list ul li a{
    color:white;
    text-transform: uppercase;
    text-decoration: none;
}

.list ul li:hover{
    background-color:  rgb(17, 17, 129);
}

.active{
    background-color: rgb(17, 17, 129);
    margin-left:-2.5rem;
}
.section{
    width:70%;
    margin: auto;
  
background-color: white;
    display: flex;
    flex-direction: column;
    padding:1rem 0rem;
   
}
.sec2{
    display:flex;

}
.cont1{
    width:70%;
    display: flex;
    margin:-2rem 1rem;
    flex-direction: column;
}
.cont1 h2{
    font-size: 1.5rem;
    font-weight: 100;
    padding-bottom: 0.5rem;
}
.cont1 p{
    padding: 0.8rem 0rem;
    font-size: 0.88rem;
   
}
.cont1 p span{
    color:rgb(230, 64, 91);
}
.cont1 h3{
    font-size: 1.5rem;
    font-weight: 100;
    color:rgb(31, 112, 218);
}
.cont1 ul{
    display: flex;
    margin-left: -2.5rem;
    flex-direction: column;
   
}
.cont1 li {
    list-style: none;
    padding:0.2rem 0rem;
    font-size: 0.88rem;
 
}
.cont1 ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color:blue; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: 0em; /* Also needed for space (tweak if needed) */
  }
.cont2{
    width:30%;
    margin:-2rem 1rem;

    display: flex;
    margin-bottom:2rem;
    flex-direction: column;
   
}
.cont2 p span{
    color:rgb(31, 112, 218);
}
.cont2 a{
    color:rgb(243, 50, 82);
    font-size: 0.88rem;
    padding:0.2rem 0rem;
    
}
.cont2 h2{
    font-weight: 100;
}
.cont2 p{
    margin:0.7rem 0rem;
    font-size: 0.88rem;
}
.cont2 h3{
    margin:1rem 0rem;
    font-weight: 100;
    font-size: 1.5rem;
}
.cont2 input{
    width:50%;
}
.cont3{
    background-color:rgb(31, 112, 218);
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    height:8vh;
    margin-bottom: -2rem;
}
.cont3 p{
    color:white;
}
